/* Importing font */
@import url('https://fonts.googleapis.com/css2?family=Kosugi+Maru&display=swap');

/* Global styles */
body {
    font-family: "Kosugi Maru", sans-serif;
    background: url('images/gradient.jpg') no-repeat center center fixed;
    background-size: cover;
}

/* Heading styles */
h1 {
    text-align: center;
    font-size: 2rem;
}

h2 {
    text-align: center;
    font-size: 1rem;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

/* Link styles */
a {
    color: #743884;
}

/* Wrapper styles */
.wrapper {
    display: flex;
    justify-content: space-around;
    margin: 0 100px;
}

.right-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 300px;
}

/* Modal styles */
.modal-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 20px;
    padding: 100px;
    font-size: 3rem;
    border: 1px solid black;
    border-radius: 5px;
}

/* Form element styles */
label {
    font-size: 2rem;
}

input {
    height: 25px;
    border: 1px solid gray;
    border-radius: 5px;
}

/* Grid container and cell styles */
#container {
    display: grid;
    width: 500px;
    height: 500px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.cell {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 4rem;
    background-color: white;
    border: 5px solid blue;
}

.empty {
    color: transparent;
    user-select: none;
}

/* Alerts styles */
.alerts {
    font-size: 2rem;
    border: 1px solid black;
}

/* Button styles */
button {
    height: 50px;
    font-size: 1.5rem;
    border: 1px solid gray;
    border-radius: 5px;
}
