* {
    color: red;
}

.wrapper {
    display: flex;
    justify-content: space-around;
}

#container {
    width: 500px;
    height: 500px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.cell {
    border: 5px solid blue;
    text-align: center;
}

.empty {
    color: transparent;
    user-select: none;
}

.alerts {
    border: 1px solid black;
}
